:root {
  --_greenTableHeaderBackground: #82b366;
  --_greenTableDataBackground: #d5e8d4;
  --_blueTableHeaderBackground: #6c8ebf;
  --_blueTableDataBackground: #dae8fc;
  --_orangeTableHeaderBackground: #d79b00;
  --_orangeTableDataBackground: #ffe6cc;
  --_redTableHeaderBackground: #b85450;
  --_redTableDataBackground: #f8cecc;
  --_greenTableHeaderFinished: #00991c;
  --_purpleTableHeaderFinished: #a600ff;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  animation: backgroundColourFade 30s infinite;
}

h1 {
  margin-top: 50px;
  color: white;
  border: 5px solid white;
}

.username {
  text-align: center;
  font-size: 2em;
}

a {
  text-decoration: underline;
  color: rgb(255, 213, 236);
}

a:hover {
  color: rgb(255, 143, 205);
}

.spacer {
  margin-top: 40px;
}

/* TABLE */
.table {
  display: flex;
  justify-content: center;
}

/* TABLE ROW */
tr {
  height: 3em;
}

/* TABLE HEADER */

th {
  height: 50px;
}
th:first-child {
  background-color: var(--_greenTableHeaderBackground);
}

th:nth-child(2) {
  background-color: var(--_blueTableHeaderBackground);
}

th:nth-child(3) {
  background-color: var(--_orangeTableHeaderBackground);
}

th:nth-child(4) {
  background-color: var(--_redTableHeaderBackground);
}

/* TABLE DATA */

.finishedTableHead > tr:nth-child(1) > th:nth-child(1) {
  background-color: var(--_greenTableHeaderFinished);
}

.tableBody > tr > td {
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 20em;
}

td:first-child {
  background-color: var(--_greenTableDataBackground);
}

td:nth-child(2) {
  background-color: var(--_blueTableDataBackground);
}

td:nth-child(3) {
  background-color: var(--_orangeTableDataBackground);
}

td:nth-child(4) {
  background-color: var(--_redTableDataBackground);
}

.animeTableHead > tr:nth-child(1) > th:nth-child(1) {
  background-color: var(--_purpleTableHeaderFinished);
}

.animeTableBody > tr > td {
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 20em;
}

/* KEYFRAMES */

@keyframes backgroundColourFade {
  0% {
    background-color: #3e0020;
  }
  20% {
    background-color: #21003e;
  }
  40% {
    background-color: #00083e;
  }
  60% {
    background-color: #003b3e;
  }
  80% {
    background-color: #3e3900;
  }
  100% {
    background-color: #3e0a00;
  }
}
